.Row {
   display: flex;
}

.carousel {
   position: absolute !important;
   top: 0;
   z-index: -1;
   width: 100%;
}
.subCarousel {
   position: relative !important;
   z-index: 0 !important;
}

.Center {
   display: flex;
   justify-content: center;
   align-items: center;
}

a {
   color: white !important;
}

a:hover {
   text-decoration: none !important;
   color: lightgray !important;
}

.Introduce .Center {
   transition: 1s;
   background-size: cover;
   height: 100%;
   color: #fff;
   cursor: auto;
}
.Introduce .InnerText {
   text-align: center;
   padding: 0 20%;
}

.Introduce li {
   border-radius: 20px;
   background: #ffffff;
   box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;

   padding: 10px;
   border: 1px solid lightgray;
   margin-bottom: 10px;
   list-style: none;
}
.inner10 {
   margin-left: 10%;
   margin-right: 10%;
}

.Gongmojeon {
   display: flex;
   flex-direction: row;
   justify-content: center;
}
