.Row {
  display: flex;
}
.Center.CardInnerText {
  color: white;
  position: absolute;
  top: 0px;
  width: 100%;
}
.Center .InnerText {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(65, 65, 65, 0.5);
  border-radius: 20px;
  width: 100%;
  height: 200px;
}
.carousel {
  position: absolute !important;
  top: 0;
  z-index: -1;
  width: 100%;
}
.subCarousel {
  position: relative !important;
  z-index: 0 !important;
}

.Center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Introduce .Center {
  transition: 1s;
  background-size: cover;
  height: 100%;
  color: #fff;
  cursor: auto;
}

.Introduce li {
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;

  padding: 10px;
  border: 1px solid lightgray;
  margin-bottom: 10px;
  list-style: none;
}
.inner10 {
  margin-left: 10%;
  margin-right: 10%;
}

.Gongmojeon {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fullHeight {
  height: 100%;
}

.FAB {
  position: fixed;
  z-index: 10;
  bottom: 30px;
  left: 30px;
}

.LeftMenu,
.RightMenu {
  padding: 20px;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 10fr 1fr;
}

.w1 {
  width: 100%;
}
.MuiDialog-paperWidthSm {
  min-width: 300px;
}

.padding20 {
  padding: 20px;
}

.margin0 {
  margin: 0px !important;
}

.FeedBackDrawer .MuiDrawer-paper {
  width: 40%;
}

.feedback {
  width: 100%;
}

.Bottom {
  position: sticky;
  background-color: white;
  bottom: 0px;
  padding-bottom: 10px;
}

.fixed-r30 {
  position: fixed;
  right: 30px;
  bottom: 30px;
}

.fixed-r60 {
  position: fixed;
  right: 30px;
  bottom: 90px;
}

.z1200 {
  z-index: 1200;
}

.login-form {
  margin-top: 10%;
  padding: 30px;
}

.Bottom > .buttons {
  display: flex;
  justify-content: space-between;
}

.Log-VerticalTabs {
  flex-grow: 1;
  /* background-color: theme.palette.background.paper, */
  display: flex;
  height: 100%;
}

.CommonFooter {
  margin: 50px;
  text-align: center;
}

.header {
  position: sticky;
  top: 0px;
  z-index: 1;
  background-color: white;
}

.content {
  display: flex;
  flex-direction: column;
}

.notExistTeam {
  text-align: center;
}
