@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;900&display=swap");

* {
  font-family: "Noto Sans KR", sans-serif !important;
  word-break: keep-all;
}

html,
body,
#root,
#root > div {
  height: 100%;
}
body {
  padding-top: 80px;
}

div.half {
  width: "50%";
}
