$main-color: #222831;
$subMain-color: #393e46;
$secondary-color: #00adb5;
$default-color: #eeeeee;

.root {
  transition: 0.2s;
}

.CommonNavbar {
  background-color: $main-color;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  transition: 0.2s;
}

a {
  color: white !important;

  &:hover {
    text-decoration: none !important;
    color: darken(white, 10%) !important;
  }
}

.Activity {
  margin-top: 10%;
}

.MuiButton-containedSecondary {
  background-color: $secondary-color !important;

  &:hover {
    background-color: darken($secondary-color, 10%) !important;
  }
}

.MuiButton-containedPrimary {
  background-color: $subMain-color !important;
  &:hover {
    background-color: darken($subMain-color, 10%) !important;
  }
}

.MuiTextField-root {
  display: block !important;
}

.ActivityHeader {
  padding: 20px;
}

.ActivityBody {
}
