$main-color: #222831;
$subMain-color: #393e46;
$secondary-color: #00adb5;
$default-color: #eeeeee;

@mixin Row {
  display: flex;
  &.Space-Between {
    justify-content: space-between;
  }
  &.Vertical-Center {
    align-items: center;
  }
  & .Schedule-Add-Button {
    padding: 0px 15px !important;
  }
}

.root {
  transition: 0.2s;
  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    color: $main-color;
  }
}

.Center {
  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    color: $default-color;
  }

  & .RegisterForm {
    display: flex;
    flex-direction: column;
    p {
      opacity: 0.5;
      color: $main-color;
    }
  }
}
.CommonNavbar {
  background-color: $main-color;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  transition: 0.2s;
}

a {
  color: white !important;

  &:hover {
    text-decoration: none !important;
    color: darken(white, 10%) !important;
  }
}

.Activity {
  margin-top: 10%;
}

.MuiButton-containedSecondary {
  background-color: $secondary-color !important;

  &:hover {
    background-color: darken($secondary-color, 10%) !important;
  }
}

.MuiButton-containedPrimary {
  background-color: $subMain-color !important;
  &:hover {
    background-color: darken($subMain-color, 10%) !important;
  }
}

.MuiTextField-root {
  display: block !important;
}

.ActivityWrapper {
}

.BackgroundAnimation {
  opacity: 0.5;
  position: absolute;
  bottom: 0px;
  height: 100%;
  z-index: -1;
}

.ActivityHeader {
  position: relative;
  padding: 20px;
  color: white;
}

.ActivityTabs {
}

.ActivityBody {
  padding: 0px 20px;
  & .BodyRoot {
    background-color: transparent !important;
  }
  & .MuiCard-root {
    position: relative;
    top: 0;
    transition: top ease 0.3s;

    &:hover {
      top: -10px;
    }
  }
}

.TeamCard {
  max-width: 100%;
  height: 300px;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Log-VerticalTabs {
  & .MuiTabs-root {
    overflow: visible !important;
  }
  & .TabButton {
    background-color: $default-color;
    margin-bottom: 10px;
    border-radius: 10px;
  }
}

.MuiChip-root {
  color: $default-color !important;

  &.MuiChip-colorPrimary {
    background-color: $main-color !important;
  }
  &.MuiChip-attend {
    background-color: $main-color !important;
  }
  &.MuiChip-late {
    background-color: $subMain-color !important;
  }
  &.MuiChip-absent {
    background-color: $secondary-color !important;
  }
  &.MuiChip-default,
  &.MuiChip-not {
    color: $main-color !important;
  }
}

.IntroduceTeamFooter {
  padding: 50px;
  text-align: center;
  background-color: $main-color;

  h2,
  h4,
  p {
    color: $default-color !important;
  }
}

.hover-up {
  position: relative;
  top: 0;
  transition: top ease 0.3s;

  &:hover {
    top: -10px;
  }
}

.LeftDrawer > div > div {
  width: 25%;
}
.Row {
  @include Row;
}

.FeedbackDetail {
  width: 100%;
  & .FeedbackDetailBottom {
    float: right;
  }
}

.Landing-Visual-Section {
  color: white;
  height: 100%;
  & .textBox {
    text-align: center;
    padding: 6%;
    background-color: rgba(65, 65, 65, 0.2);
    border-radius: 50px;
  }
}
.Landing-Activity {
  text-align: center;
}

.FAB > button {
  background-color: $secondary-color !important;
  &:hover {
    background-color: darken($secondary-color, 10%) !important;
  }
}
.Today-Attend-Schedule > h5,
.Attend-Standard > h5 {
  display: inline-block;
}

.Attend-Standard {
  > div {
    padding: 20px;
    > div {
      display: flex;
      align-items: baseline;
    }
  }
}

.Chip-Normal {
  background-color: $main-color !important;
}
.Chip-Late {
  background-color: $subMain-color !important;
}
.Chip-Absent {
  background-color: $secondary-color !important;
}
.Attend-Accordion {
  width: 100%;
  margin-bottom: 10px;
}

.MuiAccordionDetails-root {
  flex-wrap: wrap;
  > div {
    margin: 3px;
  }
}

.Preset-textField {
  padding: 5px;
  border: 0px;
  border-bottom: 1px $main-color solid;
}
